header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c3c3c3;
}

h1 {
  font-size: 22px;
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}
