<app-page-header [title]="'User registry'">
  <a class="btn btn-outline-primary" routerLink="/user/list">User list</a>
</app-page-header>

<section>
  <p class="required_fields">*Required fields</p>
</section>

<section>
  <form (ngSubmit)="saveContact()">
    <div class="row">
      <div class="col-sm-2">
        <label for="id_contact" class="form-label">ID *</label>
        <input type="number" class="form-control form-control-sm" id="id_contact" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-4">
        <label for="name" class="form-label">Name *</label>
        <input type="text" class="form-control form-control-sm" id="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="login" class="form-label">Login *</label>
        <input type="text" class="form-control form-control-sm" id="login" [(ngModel)]="login" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-3">
        <label for="password" class="form-label">Password *</label>
        <input type="password" class="form-control form-control-sm" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="footer-actions fixed-bottom">
      <button type="submit" class="btn btn-secondary btn-submit" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary btn-submit">Complete registration</button>
    </div>
  </form>
</section>
