.btn-submit{
  margin-top: 10px;
}

.footer-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 50px;
  border-top: 1px solid #c3c3c3;
  margin: 20px;
}
