.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c3c3c3;
}

.btn-submit{
  margin-top: 10px;
}
